[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/git_vim"]
	path = bundle/git_vim
	url = https://github.com/motemen/git-vim.git
[submodule "bundle/NERDcommenter"]
	path = bundle/NERDcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
