[submodule "bundle/git_vim"]
	path = bundle/git_vim
	url = https://github.com/motemen/git-vim.git
[submodule "bundle/NERDcommenter"]
	path = bundle/NERDcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/css_color"]
	path = bundle/css_color
	url = https://github.com/skammer/vim-css-color.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
